{% extends "tinylinks/base.html" %}
{% load i18n %}

{% block main %}
<div class="container">
<h1>{% trans "Delete tinylink" %} <em>{{ object.short_url }} that points to {{ object.long_url }}</em></h1>
<form action="." method="post">
    {% csrf_token %}
    <p>{% trans "Do you really want to delete this tinylink" %} <em>{{ object.short_url }}</em>?</p>
    <input type="submit" value="{% trans "Delete" %}"/>
    <a href="{% url "tinylink_list" %}">{% trans "or Back" %}</a>
</form>
</div>
{% endblock %}
