{% extends "tinylinks/base.html" %}
{% load i18n %}

{% block main %}
<div class="container">
{% if form.instance.pk %}
    {% if mode == "change-short" %}
        <h2>{% trans "Change short URL of" %} <em>{{ form.instance.long_url }}</em></h2>
    {% else %}
        <h2>{% trans "Change long URL of" %} <em>{{ form.instance.short_url }}</em></h2>
    {% endif %}
{% else %}
    <h2>{% trans "Shorten your URL" %} <em></em></h2>
{% endif %}
<form method="post" action=".">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-6">
    {{ form.as_p }}
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="{% trans "Save" %}" />
</form>
<br />
<a style="margin-right: 15px;" href="{% url "tinylink_list" %}">{% trans "Back to list" %}</a>
{% if form.instance.pk %}
    {% if mode == "change-short" %}
        <a style="margin-right: 15px;" href="{% url "tinylink_update" pk=form.instance.pk mode="change-long" %}">{% trans "Change Long URL instead" %}</a>
    {% else %}
        <a style="margin-right: 15px;" href="{% url "tinylink_update" pk=form.instance.pk mode="change-short" %}">{% trans "Change Short URL instead" %}</a>
    {% endif %}
    <a href="{% url "tinylink_delete" pk=form.instance.pk %}">{% trans "Delete" %}</a>
{% endif %}
</div>
{% endblock %}
